<!--<app-moview-list></app-moview-list>-->
<app-movie-detail>

</app-movie-detail>

<!--&lt;!&ndash;<app-movie-outlet></app-movie-outlet>&ndash;&gt;-->

<!--<ng-container #footerTmpl></ng-container>-->

<!--&lt;!&ndash;<app-card>&ndash;&gt;-->
<!--&lt;!&ndash;  <div slot="footer">&ndash;&gt;-->
<!--&lt;!&ndash;    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, iusto!</p>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;  <div slot="header">&ndash;&gt;-->
<!--&lt;!&ndash;    <h2> Movie title</h2>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;  <div slot="content">&ndash;&gt;-->
<!--&lt;!&ndash;    <p> Lorem ipsum dolor sit amet.</p>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->


<!--&lt;!&ndash;</app-card>&ndash;&gt;-->
